<!doctype html>
<html>
<head>
    <title>Node Authentication with Passport</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{
            padding-top: 100px;
            background: rgb(230, 230, 233);
        }
        h1{
            color: rgb(55, 70, 153);
            font-size: 48px;
            margin-bottom: 60px;
        }
        a{
            color: rgb(55, 70, 153);
            font-size: 18px;
        }
        p{
            color: rgb(55, 70, 153);
            font-size: 18px;
        }
        .bottomSpace{
            margin-bottom: 40px;
        }
        .btn{
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Node Authentication with Passport</h1>
        <p class = "bottomSpace">Login or Register with</p>
        <a href="/login" class="btn"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
</div>
</body>
</html>